<div fxLayout="row wrap" class="decentral-row" fxLayoutAlign="center center">
  <div fxFlex="85" fxLayoutAlign="start center">
    <button class="master-go-back-button" matRipple (click)="goBack()">
      <div
        class="btn-wrapper"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
      >
        <div class="bnt-icon" fxFlex="32px" fxLayoutAlign="center center">
          <mat-icon>arrow_back</mat-icon>
        </div>
        <div class="btn-text" fxFlex>{{ "wallet_manager.go_back" | translate }}</div>
      </div>
    </button>
  </div>
</div>
<div fxLayout="row wrap" class="decentral-row" fxLayoutAlign="center center">
  <div class="add-wallet-widget" fxFlex="85">
    <div class="add-wallet-title">{{ "wallet_manager.add_new_wallet" | translate }}</div>
    <div
      class="add-wallet-section"
      fxLayout="column"
      fxLayoutAlign="center center"
      (click)="addWallet()"
      matRipple
    >
      <mat-icon>add_circle</mat-icon>
      <span>{{ "wallet_manager.add_new_wallet" | translate }}</span>
    </div>
  </div>
</div>
<div
  fxLayout="row wrap"
  class="decentral-row"
  fxLayoutAlign="center start"
  *ngIf="walletData"
>
  <div fxLayout="row wrap" fxFlex="85" fxLayoutAlign="space-evenly center">
    <div
      class="wallet-deatil"
      fxFlex="100"
      fxFlex.md="30"
      fxFlex.gt-md="30"
      *ngFor="let wallet of walletData"
    >
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="wallet-delete" fxLayoutAlign="end start">
        <mat-icon (click)="deleteWallet(wallet.address)" matRipple
          >delete</mat-icon
        >
      </div>
      <div class="wallet-title" fxLayout="row" fxLayoutAlign="start center">
        <img
          src="{{ wallet.logo }}"
          alt="{{ wallet.chain }}"
          onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
          loading="lazy"
        />
        {{ "wallet_manager.wallet.address" | translate:wallet }}&nbsp;
        <img
          src="../../../../../assets/icons/xdefi.png"
          alt="xfi"
          *ngIf="wallet.type == 'xdefi'"
          [matTooltip]="translation.wallet.types.xdefi"
          class="xdefi-img"
        />
        <img
          src="../../../../../assets/icons/walletconnect.png"
          alt="walletconnect"
          width="14"
          *ngIf="wallet.type == 'walletconnect'"
          [matTooltip]="translation.wallet.types.walletconnect"
          class="xdefi-img"
        />
        <mat-icon *ngIf="wallet.type == 'manual'" [matTooltip]="translation.wallet.types.manual"
          >keyboard</mat-icon
        >
        <mat-icon *ngIf="wallet.type == 'keystore'" [matTooltip]="translation.wallet.types.keystore"
          >vpn_key</mat-icon
        >
      </div>
      <div class="wallet-balance" fxLayoutAlign="end start">
        <span *ngIf="showHideToggle == true"
          >{{ "wallet_manager.wallet.balance" | translate }}: {{ getSimbol()
          }}{{ wallet.totalBalance | roundedValue }}</span
        >
        <span *ngIf="showHideToggle == false"
          >{{ "wallet_manager.wallet.balance" | translate }}: {{ getSimbol() }}******</span
        >
      </div>
      <div class="wallet-address">
        <span>{{ "wallet_manager.wallet.wallet_address" | translate }}*</span>
        <div class="wallet-wrapper" fxLayout="row wrap">
          <div
            class="wallet-icon"
            fxFlex="15"
            fxFlex.md="10"
            fxFlex.gt-md="10"
            (click)="selectWallet(wallet)"
          >
            <img
              src="{{ wallet.logo }}"
              alt="{{ wallet.chain }}"
              onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
              loading="lazy"
            />
          </div>
          <div
            class="address-mask"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="address" (click)="selectWallet(wallet)">
              {{ wallet.mask }}
            </div>
            <div class="icons">
              <mat-icon matRipple (click)="copy(wallet.address)" [matTooltip]="translation.wallet.copy"
                >content_copy</mat-icon
              >
              <mat-icon matRipple (click)="launch(wallet)" [matTooltip]="translation.wallet.view_explorer">launch</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="wallet-buttons" fxLayout="row wrap">
        <div
          class="buttons"
          fxLayout="row wrap"
          fxLayoutAlign="space-evenly center"
          fxFlex
        >
          <button
            mat-raised-button
            class="swap-button"
            #tooltip="matTooltip"
            [matTooltip]="translation.wallet.buttons.swap"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
            fxFlex="45"
            fxFlex.gt-md="22"
            fxFlex.md="22"
            (click)="
              openSwapModal(
                wallet.chain,
                getAssetName(wallet.chain),
                getAssetFullName(wallet.chain),
                'swap',
                'available'
              )
            "
          >
            <img src="../../../../../assets/icons/swap.svg" width="24px" />
          </button>
          <button
            mat-raised-button
            class="add-button"
            #tooltip="matTooltip"
            [matTooltip]="translation.wallet.buttons.add"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
            fxFlex="45"
            fxFlex.gt-md="22"
            fxFlex.md="22"
            (click)="
              openSwapModal(
                wallet.chain,
                getAssetName(wallet.chain),
                getAssetFullName(wallet.chain),
                'add',
                'available'
              )
            "
          >
            <img src="../../../../../assets/icons/add.svg" width="24px" />
          </button>
          <button
            mat-raised-button
            class="manage-button wallet"
            #tooltip="matTooltip"
            [matTooltip]="translation.wallet.buttons.withdraw"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
            fxFlex="45"
            fxFlex.gt-md="22"
            fxFlex.md="22"
            (click)="
              openSwapModal(
                wallet.chain,
                getAssetName(wallet.chain),
                getAssetFullName(wallet.chain),
                'withdraw',
                'available'
              )
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="64 64 896 896"
              focusable="false"
              data-icon="withdraw"
              width="1.5rem"
              height="1.5rem"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8-7 8.5-14.5 16.7-22.4 24.5a353.84 353.84 0 01-112.7 75.9A352.8 352.8 0 01512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.84 353.84 0 01-112.7-75.9 353.28 353.28 0 01-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 7.9 7.9 15.3 16.1 22.4 24.5 3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82 271.7 82.6 79.6 277.1 82 516.4 84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7 3.4-5.3-.4-12.3-6.7-12.3zm88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 000-12.6z"
              />
            </svg>
          </button>
          <button
            mat-raised-button
            class="manage-button wallet"
            #tooltip="matTooltip"
            [matTooltip]="translation.wallet.buttons.send"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
            fxFlex="45"
            fxFlex.gt-md="22"
            fxFlex.md="22"
            (click)="
              openSwapModal(
                wallet.chain,
                getAssetName(wallet.chain),
                getAssetFullName(wallet.chain),
                'send',
                'available'
              )
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="64 64 896 896"
              focusable="false"
              data-icon="withdraw"
              width="1.5rem"
              height="1.5rem"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M931.4 498.9L94.9 79.5c-3.4-1.7-7.3-2.1-11-1.2a15.99 15.99 0 00-11.7 19.3l86.2 352.2c1.3 5.3 5.2 9.6 10.4 11.3l147.7 50.7-147.6 50.7c-5.2 1.8-9.1 6-10.3 11.3L72.2 926.5c-.9 3.7-.5 7.6 1.2 10.9 3.9 7.9 13.5 11.1 21.5 7.2l836.5-417c3.1-1.5 5.6-4.1 7.2-7.1 3.9-8 .7-17.6-7.2-21.6zM170.8 826.3l50.3-205.6 295.2-101.3c2.3-.8 4.2-2.6 5-5 1.4-4.2-.8-8.7-5-10.2L221.1 403 171 198.2l628 314.9-628.2 313.2z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
