<div class="wallet-connect-dialog" fxLayout="column">
  <div
    class="dialog-exit-button"
    fxLayout="row wrap"
    fxLayoutAlign="end start"
    *ngIf="!showKeyStoreForm && !showManualInput"
  >
    <a (click)="closeDialog()"><mat-icon class="close-icon">close</mat-icon></a>
  </div>

  <div
    class="dialog-exit-button"
    fxLayout="row wrap"
    fxLayoutAlign="space-between start"
    *ngIf="showKeyStoreForm || showManualInput"
  >
    <a (click)="back()"><mat-icon class="close-icon">arrow_back</mat-icon></a>
    <a (click)="closeDialog()"><mat-icon class="close-icon">close</mat-icon></a>
  </div>

  <div class="dialog-header" fxLayout="row" fxLayoutAlign="center center">
    <h3>Connect to a wallet</h3>
  </div>

  <div
    class="dialog-content-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showWalletConnect == true && !showKeyStoreForm && !showManualInput"
  >
    <a
      (click)="walletConnect('walletconnect')"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img src="../../../../../assets/icons/walletconnect.png" alt="wc" />
      <span>Wallet Connect</span>
    </a>
  </div>

  <div
    class="dialog-content-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showKeystore == true && !showKeyStoreForm && !showManualInput"
  >
    <a
      (click)="walletConnect('keystore')"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon>vpn_key</mat-icon>
      <span>Keystore file</span>
    </a>
  </div>

  <div
    class="dialog-content-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showManual == true && !showKeyStoreForm && !showManualInput"
  >
    <a
      (click)="walletConnect('manual')"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon>keyboard</mat-icon>
      <span>Manual input</span>
    </a>
  </div>
  <div
    class="keystore-form"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showKeyStoreForm"
  >
    <div>
      <input
        #keystoreInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="onKeystoreFileChange($event)"
      />
      <button
        class="uni-input uni-input--file"
        (click)="keystoreInput.click()"
        matRipple
      >
        <span *ngIf="!keystoreFileSelected">Upload Keystore File</span>
        <span *ngIf="keystoreFileSelected">{{ fileName }}</span>
        <mat-icon *ngIf="!keystoreFileSelected">vpn_key</mat-icon>
        <mat-icon *ngIf="keystoreFileSelected" [ngStyle]="{ color: 'green' }"
          >check</mat-icon
        >
      </button>
      <div class="uni-input password">
        <input
          [(ngModel)]="keystorePassword"
          name="keystore-password"
          placeholder="Please Enter Password"
          type="password"
        />
      </div>
    </div>
  </div>
  <div
    class="keystore-form"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showManualInput"
  >
    <div>
      <div class="uni-input password">
        <input
          [(ngModel)]="manualWallet"
          name="wallet"
          placeholder="Please Enter Wallet"
          type="text"
        />
      </div>
    </div>
  </div>
  <div
    class="error-msg"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="keystoreError && showKeyStoreForm"
  >
    {{ keystoreErrorMsg }}
  </div>
  <div
    class="dialog-actions-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="showKeyStoreForm || showManualInput"
  >
    <button mat-raised-button class="yes-button" (click)="back()">
      <span class="yes-button-label">Cancel</span>
    </button>
    <button
      mat-raised-button
      class="no-button"
      (click)="keystoreUnlockClicked()"
      [disabled]="keystoreConnecting"
    >
      <span class="no-button-label">Connect</span>
    </button>
  </div>
</div>
