<div class="wallet-connect-dialog" fxLayout="column">
  <div class="dialog-exit-button" fxLayout="row wrap" fxLayoutAlign="end start">
    <a (click)="closeDialog(false)"
      ><mat-icon class="close-icon">cancel</mat-icon></a
    >
  </div>
  <div class="dialog-header" fxLayout="row" fxLayoutAlign="center center">
    <h3>{{ "operations.confirm_dialog.title" | translate }}</h3>
  </div>
  <div
    class="dialog-actions-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <button mat-raised-button class="no-button" (click)="closeDialog(false)">
      <span class="no-button-label">{{ "operations.confirm_dialog.no" | translate }}</span>
    </button>
    <button mat-raised-button class="yes-button" (click)="closeDialog(true)">
      <span class="yes-button-label">{{ "operations.confirm_dialog.yes" | translate }}</span>
    </button>
  </div>
</div>
