<app-loader></app-loader>
<div class="dcf-main-container" fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="column wrap" class="page-not-found" fxLayoutAlign="center center">
    <img class="error-404" src="../../../../../assets/images/404/all-404.svg" alt="0">
    <h1>Sorry! Page Not Found ;(</h1>
    <h3>The Link You Folowed is Probably Broken, or the page has been removed.</h3>
    <button mat-button class="try-it" [routerLink]="['/app']" >RETURN TO HOME</button>
    <img class="back" src="../../../../../assets/images/404/fondo.svg" alt="background">
  </div>
</div>
