<div class="transact-main">
  <div
    class="transact-layout"
    fxLayout="row wrap"
    fxLayoutAlign="centert start"
  >
    <div class="header" fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
      <mat-slide-toggle
        class="theme-toggle"
        color="primary"
        (click)="setTheme()"
        [(ngModel)]="isToggle"
      >
      </mat-slide-toggle>
    </div>
    <div
      class="container"
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div class="main" fxLayout="column">
        <div class="main-header" fxLayout="column" fxFlex="100">
          <div class="logo" fxLayoutAlign="center center">
            <img
              src="../../../assets/images/{{ logoFile }}"
              alt="logo"
              width="250px"
            />
          </div>
        </div>
        <div class="main-content" fxLayout="column">
          <div class="form-msg" fxLayout="row" fxLayoutAlign="center center">
            {{ msg }}
          </div>
          <form [formGroup]="signin">
            <div
              class="form-row"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <mat-form-field fxFlex="80" class="login-field">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  placeholder="Ex. example@decentralfi.io"
                  formControlName="email"
                  required
                />
                <mat-error *ngIf="signin.controls.email.hasError('required')">
                  Email is required
                </mat-error>
                <mat-error *ngIf="signin.controls.email.hasError('email')">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
            <div
              class="form-row"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <div #recaptcha fxFlex="80" fxLayoutAlign="center center"></div>
              <mat-error
                *ngIf="captchaFlag != true"
                fxFlex="80"
                fxLayoutAlign="center center"
              >
                Captcha is required
              </mat-error>
            </div>
            <div
              class="form-log-button"
              fxLayout="row"
              fxLayoutAlign="space-evenly center"
            >
              <button
                mat-raised-button
                class="login-button"
                (click)="recovery()"
              >
                <span class="login-button-label">Recover</span>
              </button>
              <button
                mat-raised-button
                class="cancel-button"
                (click)="cancel()"
              >
                <span class="cancel-button-label">Cancel</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
