<div class="wallet-connect-dialog" fxLayout="column">
  <div class="dialog-exit-button" fxLayout="row wrap" fxLayoutAlign="end start">
    <a (click)="closeDialog()"
      ><mat-icon class="close-icon">cancel</mat-icon></a
    >
  </div>
  <div
    class="keystore-form"
    fxLayout="column wrap"
    fxLayoutAlign="center center"
  >
    <div>
      <h5>{{ "operations.confirm_keystore_tx.title" | translate }}:</h5>
    </div>
    <div class="uni-input password" fxLayout="row" fxLayoutAlign="start center">
      <input
        [(ngModel)]="keystorePassword"
        name="create-keystore-password"
        [placeholder]="translation.confirm_keystore_tx.placeholder"
        [type]="passwordHide ? 'password' : 'text'"
      />
      <mat-icon (click)="passwordHide = !passwordHide">{{
        passwordHide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </div>
  </div>
  <div
    class="error-msg"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="keystoreError"
  >
    {{ keystoreErrorMsg }}
  </div>
  <div
    class="dialog-actions-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="keystoreConnecting"
  >
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  <div
    class="dialog-actions-row"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <button mat-raised-button class="no-button" (click)="closeDialog()">
      <span class="yes-button-label">{{ "operations.confirm_keystore_tx.cancel" | translate }}</span>
    </button>
    <button
      mat-raised-button
      class="yes-button"
      (click)="keystoreConnect()"
      [disabled]="keystoreConnecting"
    >
      <span class="no-button-label">{{ "operations.confirm_keystore_tx.confirm" | translate }}</span>
    </button>
  </div>
</div>
