@import "/src/assets/theme/palettes/dark.scss";
$f-size: 1.1rem;
$background-color: #0b3a4b;
$items-color: #0c4f67;
$text-color: #1fa4d3;

.text_modal {
  font-size: $f-size;
  color: $text-color;
}

.title_modal {
  font-size: 0.9rem;
  color: white;
}

.text_fi {
  font-size: $f-size;
  color: white;
}

.select-field {
  z-index: 1;
}

.main_content {
  background: $items-color;
  padding: 5px;
  border-radius: 10px;
}

.asset-button {
  // border-radius: 10px;
  // background: $items-color;
  height: 100%;
  background: transparent;
}

form.content_input-amount {
  height: 100%;
}

input.input_assets-amount {
  width: 100%;
  height: 100%;
  background: transparent;
  // background: $items-color;
  color: $text-color;
  font-size: $f-size;
  border: none;
  // border-radius: 0px 10px 10px 0px;
  outline: none;
  padding: 0px;
  padding-left: 25px;
  position: relative;
  right: 20px;
}

.icon_switch {
  font-size: 2.8rem;
  color: $text-color;
}

.max-button {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.button_modal {
  background: #ff9500;
  color: white;
  margin-top: 10px;
}
