<div class="dcf-main-container" fxLayout="column" fxLayoutAlign="start center">
  <div
    fxLayout="row wrap"
    class="decentral-row"
    fxLayoutAlign="end center"
    fxFlex="100"
  >
    <div class="last-updated">
      Last Updated: {{ lastUpdatedLabel | date: "MM/dd/yyyy HH:mm (zzzz)" }}
    </div>
  </div>
  <div
    fxLayout="row wrap"
    class="decentral-row"
    fxLayoutAlign="space-between start"
    fxFlex="100"
  >
    <h2 class="module-title">Pools</h2>
  </div>
  <div
    fxLayout="row wrap"
    class="decentral-row"
    fxLayoutAlign="space-between start"
    fxFlex="100"
  >
    <div
      class="pool-list desktop"
      flex-order="2"
      flex-order.gt-md="1"
      fxFlex="100"
      fxFlex.gt-md="35"
      fxFlex.md="35"
    >
      <mat-card class="pool-list-card" fxLayout="column" fxFlex="100">
        <!--<mat-form-field class="pool-select" appearance="outline" color="accent">
          <mat-select panelClass="pool-select-panel" [(value)]="selectedPoolCategories" multiple>
            <mat-select-trigger>
              <h3>{{allLabel}}</h3> {{selectedPoolCategories}}
            </mat-select-trigger>
            <mat-option value="Stablecoins" (click)="getPoolsCategory()">
              Stablecoins
            </mat-option>
            <mat-option value="Cryptocurrencies" (click)="getPoolsCategory()">
              Cryptocurrencies
            </mat-option>
            <mat-option value="Tokens" (click)="getPoolsCategory()">
              Tokens
            </mat-option>
          </mat-select>
        </mat-form-field>-->
        <mat-card
          class="pool-list-header"
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="center center"
        >
          <span fxFlex="33" fxLayoutAlign="center center">Pool</span>
          <span fxFlex="33" fxLayoutAlign="center center">Depth</span>
          <span fxFlex="33" fxLayoutAlign="center center">{{
            valueLabel
          }}</span>
        </mat-card>
        <mat-card
          class="pool-list-row"
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="center center"
          *ngFor="let pool of pools"
        >
          <div
            class="asset-wrapper"
            fxFlex="28"
            fxFlexOffset="5"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <div class="asset-img" fxFlex="25" fxLayoutAlign="center center">
              <img
                src="{{ pool.asset.iconPath }}"
                alt="{{ pool.asset.ticker }}"
                width="32px"
                onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
                loading="lazy"
              />
            </div>
            <div class="asset-name-wrapper" fxFlex fxLayout="column">
              <div class="asset-chain">{{ pool.asset.chain }}</div>
              <div class="asset-name">{{ pool.asset.ticker }}</div>
            </div>
          </div>
          <!--&nbsp;&nbsp;{{pool.asset.chain + '.' + pool.asset.ticker}}-->
          <span fxFlex="33" fxLayoutAlign="center center">{{
            pool.depth | roundedValue
          }}</span>
          <span
            fxFlex="33"
            fxLayoutAlign="center center"
            *ngIf="this.selectedParam != 'staked'"
            >{{ pool.value | number: "1.0-2" }} {{ getSimbol() }}</span
          >
          <span
            fxFlex="33"
            fxLayoutAlign="center center"
            *ngIf="this.selectedParam == 'staked'"
            >{{ pool.value | roundedValue }}</span
          >
        </mat-card>
        <span class="pool-list-note"
          >* prices will be represented by your choice of asset on our menu,
          unless otherwise referenced.</span
        >
      </mat-card>
    </div>
    <div
      class="pool-graph"
      fxLayout="column wrap"
      flex-order="1"
      flex-order.gt-md="2"
      fxFlex="100"
      fxFlex.gt-md="63"
      fxFlex.md="63"
    >
      <!--<div class="button-groups">
        <button (click)="isLoading=!isLoading" nz-button nzType="default">Toggle Loading</button>
      </div>-->
      <div
        fxLayout="row wrap"
        fxFlex="100"
        fxLayoutAlign="space-between start"
        class="chart-up-data"
      >
        <div
          fxFlex="55"
          fxFlex.gt-md="30"
          fxFlex.md="30"
          [class]="getMiniCardClass('staked')"
          matRipple
          (click)="paramSelect('staked', 'Total Pool Deposited')"
        >
          <mat-card-title fxLayout="row" fxLayoutAlign="end start">
            <fa-icon
              [icon]="faQuestionCircle"
              matTooltip="{{ poolRatesModule.staked.tooltip }}"
            ></fa-icon>
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center start"
            >Total Pool Deposited</mat-card-subtitle
          >
          <h1 fxLayoutAlign="center start">
            {{ poolRatesModule.staked.total | roundedValue }}
          </h1>
        </div>
        <div
          fxFlex="35"
          fxFlex.gt-md="30"
          fxFlex.md="30"
          [class]="getMiniCardClass('stakers')"
          matRipple
          (click)="paramSelect('stakers', 'Total Stakers')"
        >
          <mat-card-title fxLayout="row" fxLayoutAlign="end start">
            <fa-icon
              [icon]="faQuestionCircle"
              matTooltip="{{ poolRatesModule.stakers.tooltip }}"
            ></fa-icon>
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center start"
            >Total Stakers</mat-card-subtitle
          >
          <h1 fxLayoutAlign="center start">
            {{ poolRatesModule.stakers.total | roundedValue: true }}
          </h1>
        </div>
        <div
          fxFlex="100"
          fxFlex.gt-md="30"
          fxFlex.md="30"
          [class]="getMiniCardClass('roi')"
          matRipple
          (click)="paramSelect('roi', 'Average ROI (%)')"
        >
          <mat-card-title fxLayout="row" fxLayoutAlign="end start">
            <fa-icon
              [icon]="faQuestionCircle"
              matTooltip="{{ poolRatesModule.roi.tooltip }}"
            ></fa-icon>
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center start"
            >W. Avg. ROI</mat-card-subtitle
          >
          <h1 fxLayoutAlign="center start">
            {{ poolRatesModule.roi.total * 100 | number: "1.0-1" }} %
          </h1>
        </div>
      </div>
      <div class="chart" fxFlex="100">
        <div
          echarts
          [options]="options"
          [loading]="isLoading"
          [merge]="dynamicData"
          (chartInit)="onChartInit($event)"
          class="poolrates-first-chart"
        ></div>
        <!--theme="macarons"-->
      </div>
    </div>
    <div
      class="pool-list mobile"
      flex-order="2"
      flex-order.gt-md="1"
      fxFlex="100"
      fxFlex.gt-md="35"
      fxFlex.md="35"
    >
      <br /><br />
      <mat-card class="pool-list-card" fxLayout="column" fxFlex="100">
        <mat-card
          class="pool-list-header"
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="center center"
        >
          <span fxFlex="33" fxLayoutAlign="center center">Pool</span>
          <span fxFlex="33" fxLayoutAlign="center center">Depth</span>
          <span fxFlex="33" fxLayoutAlign="center center">{{
            valueLabel
          }}</span>
        </mat-card>
        <mat-card
          class="pool-list-row"
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="center center"
          *ngFor="let pool of pools"
        >
          <div
            class="asset-wrapper"
            fxFlex="33"
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <div class="asset-img" fxFlex="35" fxLayoutAlign="center center">
              <img
                src="{{ pool.asset.iconPath }}"
                alt="{{ pool.asset.ticker }}"
                width="32px"
                onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
                loading="lazy"
              />
            </div>
            <div class="asset-name-wrapper" fxFlex fxLayout="column">
              <div class="asset-chain">{{ pool.asset.chain }}</div>
              <div class="asset-name">{{ pool.asset.ticker }}</div>
            </div>
          </div>
          <!--&nbsp;&nbsp;{{pool.asset.chain + '.' + pool.asset.ticker}}-->
          <span fxFlex="33" fxLayoutAlign="center center">{{
            pool.depth | roundedValue
          }}</span>
          <span
            fxFlex="33"
            fxLayoutAlign="center center"
            *ngIf="this.selectedParam != 'staked'"
            >{{ pool.value | number: "1.0-2" }} {{ getSimbol() }}</span
          >
          <span
            fxFlex="33"
            fxLayoutAlign="center center"
            *ngIf="this.selectedParam == 'staked'"
            >{{ pool.value | roundedValue }}</span
          >
        </mat-card>
        <span class="pool-list-note"
          >* prices will be represented by your choice of asset on our menu,
          unless otherwise referenced.</span
        >
      </mat-card>
    </div>
  </div>

  <div
    fxLayout="row wrap"
    class="decentral-row"
    fxLayoutAlign="end center"
    fxFlex="100"
  >
    <div class="assets-table-filter" fxLayoutAlign="start center">
      <span class="assets-table-filter-label" fxLayoutAlign="center center"
        ><mat-icon>filter_alt</mat-icon> Filter:&nbsp;&nbsp;&nbsp;&nbsp;</span
      >
      <mat-form-field appearance="outline" class="assets-table-filter-input">
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search coin / Symbol"
        />
      </mat-form-field>
    </div>
    <div
      class="assets-table-wrapper"
      fxLayoutAlign="start start"
      fxLayoutAlign.gt-md="center start"
      fxLayoutAlign.md="center start"
      fxFlex="100"
    >
      <table
        mat-table
        fxFlex="100"
        [dataSource]="dataSource"
        matSort
        class="assets-table"
      >
        <!-- Pool Column -->
        <ng-container matColumnDef="pool">
          <th
            [class]="thColor()"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Pool Name
          </th>
          <td
            mat-cell
            [class]="tdColor()"
            class="td-pool"
            *matCellDef="let element"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <div>
              <img
                src="{{ element.asset.iconPath }}"
                alt="{{ element.asset.symbol }}"
                class="img-pool"
                width="32px"
                onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
                loading="lazy"
              />
            </div>
            <div class="div-pool">
              <span class="span-pool"> {{ element.asset.chain }} </span><br />
              <span>
                {{ element.asset.ticker }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Asset Column -->
        <ng-container matColumnDef="asset">
          <th
            style="display: none"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Asset
          </th>
          <td style="display: none" mat-cell *matCellDef="let element">
            {{ element.asset.chain + "." + element.asset.ticker }}
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.price >= 0.001">{{
              element.price | number: "1.0-4"
            }}</span>
            <span *ngIf="element.price < 0.001">{{
              element.price | number: "1.0-8"
            }}</span>
          </td>
        </ng-container>
        <!-- Depth Column -->
        <ng-container matColumnDef="depth">
          <th
            mat-header-cell
            class="th-depth"
            *matHeaderCellDef
            mat-sort-header
          >
            Depth
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.depth | roundedValue }}
          </td>
        </ng-container>
        <!-- Volume Column -->
        <ng-container matColumnDef="volume">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume</th>
          <td mat-cell *matCellDef="let element">
            {{ element.volume | roundedValue }}
          </td>
        </ng-container>
        <!-- Swaps Column -->
        <ng-container matColumnDef="swaps">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Swaps</th>
          <td mat-cell *matCellDef="let element">
            {{ element.swaps | number: "1.0-0" }}
          </td>
        </ng-container>
        <!-- Roi Column -->
        <ng-container matColumnDef="roi">
          <th class="th-roi" mat-header-cell *matHeaderCellDef mat-sort-header>
            ROI
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.roi * 100 | number: "1.0-2" }} %
          </td>
        </ng-container>
        <!-- Stakers Column -->
        <ng-container matColumnDef="stakers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stakers</th>
          <td mat-cell *matCellDef="let element">
            {{ element.stakers | number: "1.0-0" }}
          </td>
        </ng-container>
        <!-- Slip Fee Column -->
        <ng-container matColumnDef="slip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Slip Fee</th>
          <td mat-cell *matCellDef="let element">
            {{
              networkValue == "singlechain_chaosnet"
                ? (element.slip * 100).toFixed(2)
                : element.slip.toFixed(2)
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div class="paginator-pagesize">
        <span>Show: &nbsp;&nbsp;</span>
        <button
          mat-icon-button
          [class]="getPaginatorClass(10)"
          (click)="setPaginatorPageSize(10)"
        >
          10
        </button>
        <button
          mat-icon-button
          [class]="getPaginatorClass(50)"
          (click)="setPaginatorPageSize(50)"
        >
          50
        </button>
        <button
          mat-icon-button
          [class]="getPaginatorClass(100)"
          (click)="setPaginatorPageSize(100)"
        >
          100
        </button>
      </div>
      <div>
        <mat-paginator
          showFirstLastButtons
          hidePageSize
          [length]="dataSource.data.length"
          [pageSize]="poolRatesTablePageSize"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div
    class="poolrates-last-section"
    fxLayout="column wrap"
    fxLayoutAlign="center center"
    fxFlex="100"
  >
    <div
      class="decentral-row"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex="100"
    >
      <mat-card
        class="asset-chart-title"
        fxFlex="100"
        fxFlex.gt-md="90"
        fxFlex.md="90"
      >
        <!--<mat-card fxFlex="20">-->
        <ng-select
          [items]="poolratesTable"
          bindLabel="asset.chainDotTicker"
          placeholder="Select asset"
          [(ngModel)]="selectedAsset"
          (change)="onChange($event)"
          [markFirst]="true"
          notFoundText="No asset Found..."
          [virtualScroll]="true"
        >
          <ng-template ng-label-tmp let-item="item">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
              <img
                src="{{ item.asset.iconPath }}"
                alt="{{ item.asset.ticker }}"
                width="32px"
                onerror='this.src="https://unpkg.com/cryptoicons-cdn@0.1.22/images/RUNE.png"'
                loading="lazy"
              />
              &nbsp;{{ item.asset.chain + "." + item.asset.ticker }}
            </div>
          </ng-template>
        </ng-select>
        <!--</mat-card>-->
      </mat-card>
    </div>
    <div
      class="decentral-row"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxFlex="100"
    >
      <div
        fxLayout="row wrap"
        fxFlex="50"
        fxFlex.gt-md="45"
        fxFlex.md="45"
        fxLayoutAlign="start start"
      >
        <mat-card
          fxFlex="100"
          fxFlex.gt-md="25"
          fxFlex.md="25"
          class="asset-price"
        >
          <mat-card-subtitle fxLayoutAlign="start start"
            >Last Price</mat-card-subtitle
          >
          <h1 fxLayoutAlign="start start" *ngIf="assetLastPrice < 0.0001">
            {{ assetLastPrice | number: "1.0-8" }}
          </h1>
          <h1 fxLayoutAlign="start start" *ngIf="assetLastPrice >= 0.0001">
            {{ assetLastPrice | number: "1.0-4" }}
          </h1>
        </mat-card>
        <!--<mat-card fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" class="asset-price">
        <mat-card-subtitle fxLayoutAlign="start start">Daily Changes</mat-card-subtitle>
        <h1 fxLayoutAlign="start start">$267.87</h1>
      </mat-card>-->
        <mat-card
          fxFlex="100"
          fxFlex.gt-md="30"
          fxFlex.md="30"
          class="asset-price"
        >
          <mat-card-subtitle fxLayoutAlign="start start"
            >Volume</mat-card-subtitle
          >
          <h1 fxLayoutAlign="start start" *ngIf="assetVolume < 0.001">
            {{ assetVolume | number: "1.0-8" }}
          </h1>
          <h1 fxLayoutAlign="start start" *ngIf="assetVolume >= 0.001">
            {{ assetVolume | roundedValue }}
          </h1>
        </mat-card>
      </div>
      <div
        fxLayout="row wrap"
        fxFlex="50"
        fxFlex.gt-md="45"
        fxFlex.md="45"
        fxLayoutAlign="end start"
        fxLayoutAlign.md="start end"
      >
        <mat-card
          fxFlex="100"
          fxFlex.gt-md="25"
          fxFlex.md="25"
          class="roi-pool"
        >
          <mat-card-subtitle fxLayoutAlign="end start">ROI</mat-card-subtitle>
          <h1 fxLayoutAlign="end start">
            {{ assetROI * 100 | number: "1.0-2" }} %
          </h1>
        </mat-card>
        <!--<mat-card fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" class="roi-pool">
        <mat-card-subtitle fxLayoutAlign="end start">Change</mat-card-subtitle>
        <h1 fxLayoutAlign="end start">32%</h1>
      </mat-card>
      <mat-card fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" class="roi-pool">
        <mat-card-subtitle fxLayoutAlign="end start">Volume</mat-card-subtitle>
        <h1 fxLayoutAlign="end start">1500 BTC</h1>
      </mat-card>-->
      </div>
    </div>
    <div
      fxLayout="row wrap"
      class="decentral-row"
      fxLayoutAlign="start start"
      fxFlex="100"
    >
      <div class="asset-chart">
        <div
          echarts
          [options]="assetPriceOptions"
          class="poolrates-price-chart"
        ></div>
      </div>
      <div class="stakers-chart">
        <div
          echarts
          [options]="assetStakersOptions"
          class="poolrates-stakers-chart"
        ></div>
      </div>
    </div>
  </div>
</div>
